{% extends "base.html" %}

{% block title %}
My Account
{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Account Menu</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item active">Personal Information</li>
                        <li class="list-group-item">My Orders</li>
                        <li class="list-group-item">Address Book</li>
                        <li class="list-group-item">Change Password</li>
                        <li class="list-group-item text-danger">Logout</li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="col-md-9">
            <div class="card">
                <div class="card-header">
                    <h4>Personal Information</h4>
                </div>
                <div class="card-body">
                    <form id="accountForm" method="POST" action="{{ url_for('my_account') }}">
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="firstName" class="form-label">First Name</label>
                                <input type="text" class="form-control" id="firstName" name="first_name" 
                                       value="{{ current_user.first_name if current_user else '' }}" required>
                            </div>
                            <div class="col-md-6">
                                <label for="lastName" class="form-label">Last Name</label>
                                <input type="text" class="form-control" id="lastName" name="last_name" 
                                       value="{{ current_user.last_name if current_user else '' }}" required>
                            </div>
                        </div>
                        
                        <div class="mb-3">
                            <label for="email" class="form-label">Email Address</label>
                            <input type="email" class="form-control" id="email" name="email" 
                                   value="{{ current_user.email if current_user else '' }}" required readonly>
                        </div>
                        
                        <div class="mb-3">
                            <label for="phone" class="form-label">Phone Number</label>
                            <input type="tel" class="form-control" id="phone" name="phone" 
                                   value="{{ current_user.phone if current_user else '' }}">
                        </div>
                        
                        <div class="mb-3">
                            <label for="address" class="form-label">Address</label>
                            <textarea class="form-control" id="address" name="address" rows="3">{{ current_user.address if current_user else '' }}</textarea>
                        </div>
                        
                        <button type="submit" class="btn btn-primary">Update Information</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}